@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

@font-face {
  font-family: "Cera Condensed Pro";
  src: local("Cera Condensed Pro"),
  url("../fonts/CeraCondensedPro-Regular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}